/* Estilo para o atalho de Tela Inicial */
.home-link {
    position: fixed; /* Fixa no topo */
    top: 10px; /* Distância do topo */
    left: 10px; /* Distância da esquerda */
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 10px 20px;
    border-radius: 5px; /* Borda arredondada */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-link i {
    margin-right: 5px; /* Espaçamento entre ícone e texto */
}

.home-link:hover {
    background-color: #e67e22; /* Cor laranja ao passar o mouse */
    color: white;
}

/* Contêiner do login */
.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos adicionais para o formulário de login */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #e67e22; /* Cor laranja ao passar o mouse */
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
