/* Cor de fundo e fonte geral */
body {
    background-color: #1c1c1c; /* Cor escura de fundo */
    color: #fff; /* Cor do texto */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Garante que o corpo ocupe toda a altura */
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza o conteúdo */
}

/* Atalho para a tela inicial */
.home-link {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.home-link:hover {
    background-color: #e65c00;
    transform: scale(1.05);
}

.home-link i {
    margin-right: 8px;
}

/* Estilo para o contêiner de login */
.login-container {
    background-color: #333; /* Fundo da área de login */
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 400px; /* Limita a largura */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo para os títulos */
h1 {
    font-size: 36px;
    color: #ff6600; /* Cor laranja */
    margin-bottom: 10px;
}

h1 span {
    color: #fff; /* Texto branco para 'TECH' */
}

/* Estilo para os campos de entrada */
.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 12px;
    padding-left: 35px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
    color: white;
    box-sizing: border-box; /* Garante que o padding não afete o tamanho */
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #ff6600;
}

/* Botão de login */
.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #ff6600;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #e65c00;
}

/* Estilo dos links */
a {
    color: #ff6600;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: #e65c00;
}

/* Rodapé fixo */
footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}
