/* Estilo geral do corpo */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #000, #333); /* Gradiente escuro */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    text-align: center;
}

/* Logo em texto */
.logo-text h1 {
    font-size: 60px; /* Tamanho de fonte para "MOTO" */
    margin: 0;
    font-weight: bold;
    letter-spacing: 5px; /* Distância entre letras */
    color: #ff4500; /* Cor laranja para o "MOTO" */
}

.logo-text h2 {
    font-size: 120px; /* Tamanho maior para "TECH" */
    margin: 0;
    font-weight: bold;
    letter-spacing: 8px; /* Distância entre letras */
    color: #ff5722; /* Cor mais forte para o "TECH" */
    text-transform: uppercase; /* Deixa "TECH" em maiúsculas */
    margin-top: -10px; /* Aproxima "TECH" de "MOTO" */
}

/* Contêiner do conteúdo */
.container {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.85); /* Fundo semitransparente */
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

/* Botões */
.btn {
    display: inline-block;
    background: linear-gradient(145deg, #ff4500, #ff5722);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 50px;
    transition: all 0.3s ease, transform 0.3s ease;
    font-size: 16px;
}

.btn:hover {
    background: linear-gradient(145deg, #ff5722, #ff4500);
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(255, 87, 34, 0.3);
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

footer {
    font-size: 14px;
    margin-top: 20px;
    padding: 10px;
    background-color: #111;
    color: #aaa;
    width: 100%;
    text-align: center;
    border-top: 1px solid #555;
}
